# Ignore PyCharm project files
.idea/
engine/.idea/

# Ignore Python virtual environment
.venv/
engine/.venv/

# Ignore VScode settings
.vscode/
project/.vscode/

# Optional: Python cache files
__pycache__/
*.pyc
*.pyo
